# Neon Serverless PostgreSQL Connection String
# Didapatkan dari Neon Console:
# https://console.neon.tech/app/projects/sparkling-feather-82050623/branches/br-tiny-violet-b4l184zu
#
# Salin connection string dari tab "Connect" di Neon Console:
DATABASE_URL=postgresql://neondb_owner:YOUR_NEON_PASSWORD@ep-sparkling-feather-82050623.us-east-2.aws.neon.tech/neondb?sslmode=require
